@tailwind base;
@tailwind components;
@tailwind utilities;



html, body {
  --_bg: #f2f2f2;
  --_logo-color:#111827 ;
  --_nav-links-color: #111827 ;
  --_nav-links-hover-color: lightgray;
  --_complement-color: #86827e;
  background-color: var(--_bg);
}
/* whitesmoke #4c6c85*/
