.header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--_bg);
    box-shadow: 0 10px 8px 0 rgba(0,0,0,0.24);

  }

  .header.scrolled {
    opacity: 0.90;

  }
  .logo{
    font-family: Verdana;
  }

   .banner {
    padding-inline: 2 rem;
    height: 6rem;
    display: flex;
    margin-left: 10%;
    justify-content: space-between;
    align-items: center;
    transition: opacity 0.3s ease, height 0.3s ease;
    max-width: 1200px;
  }



  .navbar {
 
    padding: 0.5rem 1rem ;
    margin-right: 1rem;
  
  }
  
  .navbar ul {
    display: flex;
    justify-content: last;
    list-style: none;
    gap: 1rem;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  
  .navbar li {
    margin-right: 10px;
    color: var(--_nav-links-color);
  

  }

  .smallnavbar {
    position: absolute;
    left: 0.5rem;
    right: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.98;
    background-color: var(--_bg);
 
  }

  .smallnavbar.close {
    display: none;
  }

  .smallnavbar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 1rem 6rem;
    gap: 1rem;
  }
  
  .smallnavbar li {
    margin-right: 10px;
  }

  .hamburgerMenu {
    display: none;
    margin-left: 10px;
  }

  .hamburgerMenu .line {
    width: 25px;
    height: 3px;
    background-color: var(--_logo-color);
    margin: 5px;
    transition: transform 0.3s;
  }
  
  .hamburgerMenu.open .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .hamburgerMenu.open .line:nth-child(2) {
    opacity: 0;
  }
  
  .hamburgerMenu.open .line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
  }

  .lines{
    display: none;
  }

  
  @media (min-width:800px){
    .smallnavbar {
        display: none;
      }
  }
  
  @media (max-width: 800px) {
    .navbar {
      display: none;
    }

    .lines{
      display: block;
      width: 40px;
      height:1.5px;
      background-color: var(--_logo-color);
    }
    
    .banner {
        display: flex;
        padding: 0rem 2rem 0rem 2rem;
        justify-content: space-between;
        margin: auto;
    }


    .hamburgerMenu {
      display: block;
      cursor: pointer;
      height: 2rem;
      border: yellow 2rem;
    }
  }